<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="../index.html" class="btn-home" target="_parent">Anasayfa</a></li>
            <li><a href="../sayfalar/turkiye.html" class="btn-turkiye" target="_parent">Türkiye</a></li>
            <li><a href="../sayfalar/italya.html" class="btn-italya" target="_parent">İtalya</a></li>
            <li><a href="../sayfalar/japonya.html" class="btn-japonya" target="_parent">Japonya</a></li>
            <li><a href="../sayfalar/meksika.html" class="btn-meksika" target="_parent">Meksika</a></li>
            <li><a href="../sayfalar/cin.html" class="btn-cin" target="_parent">Çin</a></li>
            <li><a href="../sayfalar/fransa.html" class="btn-fransa" target="_parent">Fransa</a></li>
            <li><a href="../sayfalar/hindistan.html" class="btn-hindistan" target="_parent">Hindistan</a></li>
            <li><a href="../sayfalar/minigame.html" class="btn-minigame" target="_parent">Mini Game</a></li>
            <li><a href="../sayfalar/uyesayfasi.html" class="btn-signup" target="_parent">Kayıt Ol</a></li>
        </ul>
    </nav>
</body>
</html>